body {
    font-family: 'Courier New';
    font-size: 1.1em;
}
.container{
    max-width: 90%;
}

.navbar {
    background-color: #203d5c;
}
.navbar .nav-link {
    color: white;
}

a.navbar-brand {
    color: white;
}

@media (max-width: 992px) {
    .navbar .dropdown-menu {
        background-color: #203d5c;
        border-radius: 0;
        border: none;
    }
}
.navbar .dropdown-menu{
    background-color: #203d5c;
    border-radius: 0;
}

.btn-styled {
    background-color: #007bff;
    color: #ffffff;
}
.btn-styled:hover {
    background-color: #ffffff;
    color: #0056b3;
}

a.nav-link:hover {
    color: #F8F9FA82;
}

a.nav-link:visited {
    color: #F8F9FA82;
}

.navbar a.dropdown-item:hover{
    color: #F8F9FA82;
    background-color: #203d5c;
}
.navbar a.dropdown-item {
    color: white;
}

a.navbar-brand:hover {
    color: #F8F9FA82;
}

a.navbar-brand:focus {
    color: #F8F9FA82;
}

.book-item {
    background-color: rgba(245, 246, 248);
}

.navbar-toggler {
    color: #F8F9FA82;
    background-color: white;
}

.book-item {
    background-color: rgba(245, 246, 248);
}

